    <!-- SECCION P R O Y E C T O S -->
    <section id="proyectos">
        <h3 class="titulo-seccion">Mis Proyectos</h3>
        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="../../../assets/banner.jfif" alt="">
                <div class="info">
                    <h4>Portfolio Web</h4>
                    <p>Proyecto final del curso #ArgentinaPrograma: #YoProgramo</p>
                </div>
            </div>
            <div class="informacion">
                <p>El proyecto se trata de mi propio Portfolio Web, esta aplicación debía ser de arquitectura distribuída y contener un front end (interfaz de usuario que muestre la información) y un back end (una base de datos que almacene los datos, contando con APIs necesarias para proveer la información)</p>
            </div>
        </div>
    </section>
