<!-- SECCION E D U C A C I O N -->
<div class="educacion">
    <h3 class="titulo-seccion">EDUCACIÓN</h3>
    <div class="fila">
        <div class="educación">
            <img src="/FrontEnd/src/img/I-29.jpg" id="I-29">
            <h4>Instituto Superior Nuestra Señora de la Misericordia I-29</h4>
            <hr>
            <p>Educación secundaria, con título "Bachiller en Economía y Gestión".</p>
            <br><p>Orientación en económicas: contaduría, economía y administración y gestión de empresas.</p>
            <br><p>Año de inicio: 2017</p>
            <br><p>Año de finalización: 2022</p>
        </div>
        <div class="educación">
            <img src="/FrontEnd/src/img/logo-universidad-nacional-del-nordeste.png" id="logo-universidad-nacional-del-nordeste">
            <h4>Universidad Nacional del Nordeste</h4>
            <hr>
            <p>Cursando la carrera Licenciatura en Sistemas de Información, en la Facultad de Ciencias Exactas y Naturales y Agrimensura (FaCENA), en la UNNE.</p>
            <br><p>Año de inicio: 2023</p>
        </div>
        <div class="educación">
            <img src="/FrontEnd/src/img/Junior-Achievement-Argentina_Positivo-1.png" id="Junior-Achievement-Argentina_Positivo-1">
            <h4>Junior Achievement Argentina</h4>
            <hr>
            <p>Curso "Planificá tu Futuro"</p>
            <br><p>Brinda herramientas de autoconocimiento, planificación y presentación personal.</p>
            <br><p>Fecha de inicio: octubre de 2022</p>
            <br><p>Fecha de finalización: noviembre de 2022</p>
        </div>
    </div>
    <div class="fila">
        <div class="educación">
            <img src="/FrontEnd/src/img/ArgProg.png" id="ArgentinaPrograma">
            <h4>Argentina Programa</h4>
            <hr>
            <p>Primer etapa del curso #ArgentinaPrograma: #SeProgramar</p>
            <br><p>Introducción y fundamentos básicos de la programación.</p>
            <br><p>Fecha de inicio: febrero de 2022</p>
            <br><p>Fecha de finalización: abril de 2022</p>
        </div>
        <div class="educación">
            <img src="/FrontEnd/src/img/ArgProg.png" id="ArgentinaPrograma">
            <h4>Argentina Programa</h4>
            <hr>
            <p>Segunda etapa del curso #ArgentinaPrograma: #YoProgramo</p>
            <br><p>Brinda conocimientos para adquirir las herramientas y habilidades necesarias para convertirse en un programador web full stack jr.</p>
            <br><p>Fecha de inicio: junio de 2022</p>
            <br><p>Fecha de finalización: marzo de 2023</p>
        </div>
    </div>
</div>