    <!-- SECCION H A B I L I D A D E S -->
    <div class="contenedor-skills" id="skills">
        <h3>HABILIDADES </h3>
        <div class="skill">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'HTML'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'80%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="75"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'CSS'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'75%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="60"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'JS'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'60%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="70"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'GitHub'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'70%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="90"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'Creativity'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'90%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#1a8da1'"
                    [innerStrokeColor]="'#919191'"
                    [animation]="true"
                    [animationDuration]="600"
                    [title]="'Adaptability'"
                    [titleColor]="'#ff5080'"
                    [titleFontSize]="'30'"
                    [subtitle]="'80%'"
                    [showSubtitle]="true"
                    [subtitleColor]="'#d3d3d3'"
                    [subtitleFontSize]="'20'"
                    [showUnits]="false"
                    [clockwise]="false"
                    ></circle-progress>
                </div>
            </div>
        </div>  
    </div>