<!-- SECCION S O B R E M I -->
<div class="sobremi">
    <div class="contenedor-foto">
        <img src="/FrontEnd/src/img/perfil.png" alt="">
    </div>
    <div class="sobremi">
        <p class="titulo-seccion">Sobre Mi</p>
        <h2>Hola, Soy <span>Paz Bys</span> </h2>
        <p>Soy estudiante de Licenciatura en Sistemas, en la UNNE.
            <br>Me considero una persona creativa, paciente, ingeniosa, inteligente y curiosa, dispuesta a tomar nuevos desafios y resolverlos.
            <br>Me encanta crear cosas nuevas, ya sea haciendo manualidades, cociendo, haciendo crochet, entre otros.
        </p>
    </div>
</div>
