/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
    }
    
    html {
        scroll-behavior: smooth;
    }

    body {
        background: linear-gradient( rgba(155, 62, 0, 0.295), rgba(201, 121, 0, 0.308))
    }
    
    /* *********************/
    /* seccion R E S P O N S I V E */
    /* *********************/
    
    @media screen and (max-width: 800px) {
        .redes {
            display: none;
        }
        .inicio .contenido .presentacion h2 {
            font-size: 40px;
        }
        /* seccion SOBRE MI */
        .sobremi {
            padding: 50px 0;
            display: block;
        }
        .sobremi .contenedor-foto {
            max-width: 200px;
            margin: auto;
        }
        .sobremi .contenedor-foto img {
            padding: 8px;
        }
        .sobremi .sobremi .titulo-seccion {
            text-align: center;
        }
        .sobremi .sobremi h2 {
            font-size: 25px;
            text-align: center;
        }
        /* seccion EDUCACION */
        #educacion {
            padding: 50px 15px;
        }
        #educacion .fila {
            display: block;
        }
        #educacion .fila .servicio {
            margin: 10px auto;
        }
        /* seccion HABLIDADES */
        .contenedor-skills {
            padding: 50px 20px;
        }
        /* seccion PROYECTOS */
        #proyectos {
            padding: 50px 0;
        }
        #proyectos .fila {
            display: block;
        }
        #proyectos .fila .proyecto {
            margin: 10px auto;
        }
    }