/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
    }
    
    html {
        scroll-behavior: smooth;
    }

    body {
        background: linear-gradient( rgba(155, 62, 0, 0.295), rgba(201, 121, 0, 0.308))
    }
    

    /* *********************/
    /* seccion S K I L L S */
    /* *********************/
    
    .contenedor-skills {
        background: linear-gradient( #000000cc, rgba(0, 0, 0, 0.8)), url("/FrontEnd/assets/img/fondo\ 2.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        background-position: center center;
        padding: 100px 0;
        text-align: center;
    }
    
    .contenedor-skills .skill {
        max-width: 600px;
        margin: 30px auto;
    }
    
    .contenedor-skills .skill .info {
        display: flex;
        justify-content: space-between;
    }
    
    .contenedor-skills .skill .lista {
        display: inline-block;
        margin-right: 20px;
        height: 10px;
        width: 10px;
        background-color: #fff;
    }
    
    .contenedor-skills .skill .barra {
        background-color: #919191;
        width: 100%;
        height: 6px;
        margin: 10px 0px;
    }
    
    .contenedor-skills .skill .barra .barra-progreso1 {
        background-color: #1a8da1;
        width: 95%;
        height: 6px;
        animation: progreso1 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso2 {
        background-color: #1a8da1;
        width: 90%;
        height: 6px;
        animation: progreso2 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso3 {
        background-color: #1a8da1;
        width: 90%;
        height: 6px;
        animation: progreso3 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso4 {
        background-color: #1a8da1;
        width: 85%;
        height: 6px;
        animation: progreso4 2s forwards;
    }
    
    @keyframes progreso1 {
        0% {
            width: 0;
        }
        100% {
            width: 95%;
        }
    }
    
    @keyframes progreso2 {
        0% {
            width: 0;
        }
        100% {
            width: 90%;
        }
    }
    
    @keyframes progreso3 {
        0% {
            width: 0;
        }
        100% {
            width: 90%;
        }
    }
    
    @keyframes progreso4 {
        0% {
            width: 0;
        }
        100% {
            width: 85%;
        }
    }
    /* *********************/
    /* seccion P R O Y E C T O S*/
    /* *********************/
    
    #proyectos {
        max-width: 1100px;
        padding: 100px 0;
        margin: auto;
    }
    
    #proyectos .titulo-seccion {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        color: #111135;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        text-decoration-thickness: 5px;
    }
    
    #proyectos .fila {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }
    
    #proyectos .fila .proyecto {
        max-width: 450px;
        border: 1px solid #000000;
        margin: 0 10px;
        position: relative;
        overflow: hidden;
    }
    
    #proyectos .fila .proyecto img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        object-fit: cover;
        transition: .5s;
    }
    
    #proyectos .fila .proyecto:hover img {
        filter: grayscale(0);
    }
    
    #proyectos .fila .proyecto .info {
        position: absolute;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #ff5080;
        width: 100%;
        padding: 10px;
        opacity: 0;
        bottom: -40px;
        transition: .5s;
    }
    
    #proyectos .fila .proyecto:hover .info {
        opacity: 1;
        bottom: 0;
    }

    #proyectos .fila .informacion p {
        max-width: 900px;
        margin: 25px;
        font-size: 22px;
        line-height: 25px;
        color: #565656;
        margin-bottom: 12px;
    }
    
    /* *********************/
    /* seccion F O O T E R */
    /* *********************/
    
    footer {
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 30px 0;
    }
    
    footer a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        margin: 5px;
        font-size: 26px;
    }
    /* *********************/
    /* seccion R E S P O N S I V E */
    /* *********************/
    
    @media screen and (max-width: 800px) {
        .redes {
            display: none;
        }
        .inicio .contenido .presentacion h2 {
            font-size: 40px;
        }
        /* seccion SOBRE MI */
        .sobremi {
            padding: 50px 0;
            display: block;
        }
        .sobremi .contenedor-foto {
            max-width: 200px;
            margin: auto;
        }
        .sobremi .contenedor-foto img {
            padding: 8px;
        }
        .sobremi .sobremi .titulo-seccion {
            text-align: center;
        }
        .sobremi .sobremi h2 {
            font-size: 25px;
            text-align: center;
        }
        /* seccion EDUCACION */
        #educacion {
            padding: 50px 15px;
        }
        #educacion .fila {
            display: block;
        }
        #educacion .fila .servicio {
            margin: 10px auto;
        }
        /* seccion HABLIDADES */
        .contenedor-skills {
            padding: 50px 20px;
        }
        /* seccion PROYECTOS */
        #proyectos {
            padding: 50px 0;
        }
        #proyectos .fila {
            display: block;
        }
        #proyectos .fila .proyecto {
            margin: 10px auto;
        }
    }